div.link-field-column {
  float: left;
  width: 48%;
}

div.link-field-column .form-text {
  width: 95%;
}

#lightbox #imageDataContainer {height:30px;}
#lightbox #bottomNav {
    height: 30px;
    margin-bottom: 60px;
}
#lightbox #bottomNavClose {
  margin-top: 0px;
  padding-top: 0em;
}


.hipay_field_sprites {background-image:url(misc/hipay_sprite.png);background-repeat:no-repeat;}
.hipay_field_one {background-position:0 0; height:44px; width:44px; vertical-align: middle;}
.hipay_field_two {background-position:-44px 0; height:44px; width:44px; vertical-align: middle;}
.hipay_field_button {background-position:0 -45px; height:50px; width:140px; vertical-align: middle; margin: 3px;}
.hipay_field_button:hover {background-position:0 -96px;}
.hipay_field_button_buy {background-position:0 -147px; height:51px; width:170px; vertical-align: middle; margin: 3px;}
.hipay_field_button_buy:hover {background-position:0 -198px;}

.field-field-hipay-order a.css_button {    background-color: #FECCD8;
    border: 1px solid #FC678B;
    color: #FC678B;
    font-weight: 900;
    margin-top: 20px;
    padding: 5px 10px;
}

.field-field-hipay-order a.css_button:hover {background-color: #FC678B; text-decoration: none; color: white;} 

.hipay_field_account_fields {}
.hipay_field_account_fields .form-item {width: 50%;float:left;}
.hipay_field_account_fields .form-item > label {width:40% !important;}
#edit-field-hipay-account-0-cgu-wrapper label { width: 100%; }

#hipay_field_order_confirm {width:90%;margin-left:auto;margin-right:auto;margin-top:0px;padding-top:20px;}
#hipay_field_order_confirm .payment_summary td {width: 40%;}
#hipay_field_order_confirm .payment_summary td.tax {font-style: italic; text-align: left; padding-right: 5%;width:35%;}
#hipay_field_order_confirm .payment_summary td.total { font-weight: bold; margin-bottom: 30px; border-top: 1px solid black;}
#hipay_field_order_confirm .payment_summary tbody {border-top: 0px;}
#hipay_field_order_confirm .shipping label {float:left; width:25%;}
#hipay_field_order_confirm .resizable-textarea {width: auto;}

#cgu {padding: 30px;}